@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #6f7f8f;
  line-height: 2em;
}

a {
  color: #6f7f8f;
  text-decoration: none;
}
a:hover { color: #273f57; }

ul {
  list-style: none;
}

ul ul {
  padding-left: 15px;
  font-size: .8em;
}

h1, h2, h3, h5 {
  color: #273f57;
  margin-bottom: 1vh;
}

h1, h2{
  font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
  margin-top: 5vh;
  font-weight: 400;
}

h5{
  font-weight: 300;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  position: absolute;
  top: 100vh;
  width: 225px;
  height: 100vh;
  padding: 1vh 1vw;
  border-right: 1px solid	#273f57;
}

section {
  padding: 0 5vw 15vh 300px;
}

footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e9ebee;
  background-color: #273f57;
}
